{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel=icon href="{% static 'media/svg/cloud_white_24dp.svg'%}">
        <title>Login</title>
    </head>
    <body>
        <main>
            <div class='login-container'>
                <div class='login-wrap'>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <i class="material-icons-outlined">cloud</i>
                        <span class='login-title'>Welcome</span>
                        <div class='input-wrap'>
                            {{ form.email }}
                            <span class="focus-input" data-placeholder="Email"></span>
                        </div>
                        <div class='input-wrap'>
                            {{ form.password }}
                            <span class="focus-input" data-placeholder="Password"></span>
                        </div>
                        <div class='containter-btn'>
                            <div class='wrap-login-btn'>
                                <div class='login-btn-bg'></div>
                                <button class='login-btn'>LOGIN</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </main>
    </body>
    <script>
        $('input').each(
            function(){
                $(this).on('blur',function(){
                    if($(this).val().trim()!=""){
                        $(this).addClass('has-val');}
                    else{
                        $(this).removeClass('has-val');
                    }
                })
            })
    </script>
</html>