{% load static %}

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sacramento:300,400,500,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width">
        <link rel=icon href="{% static 'media/svg/cloud_white_24dp.svg'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
        {% block title %}{% endblock %}
    </head>
    <body>
        <main>
            <div class="content-wrap">
                <div class="header">
                    <div class="title-wrap" onclick="window.location='{% url "gallery" %}';">
                        <i class="material-icons-outlined cloud">cloud</i>
                        <span class="header-title">{{ user.name }}'s Gallery</span>
                    </div>
                    <div class='logout-wrap'>
                        <div class='upload-wrap'>
                            <button class='upload-btn' onclick="window.location='{% url "upload" %}';">
                                UPLOAD IMAGES
                                <i class="material-icons-outlined upload">file_upload</i>
                            </button>
                            
                        </div>
                        <i class="material-icons-outlined logout" onclick="window.location='{% url "logout" %}';">power_settings_new</i>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>